# .htaccess-Datei für Passwortschutz
AuthType Basic
AuthName "Geschützter Bereich - Bitte geben Sie ein Passwort ein!"
AuthUserFile /home/strato/http/premium/rid/22/42/510292242/htdocs/unihtml/pwd/.htpasswd
Require valid-user